{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="hero">
    <h1>Добро пожаловать в Ваш персональный дневник</h1>
    <p>Фиксируйте свои мысли, идеи и воспоминания</p>
    {% if not current_user.is_authenticated %}
        <div class="auth-buttons">
            <a href="{{ url_for('login') }}" class="btn">Войти</a>
            <a href="{{ url_for('register') }}" class="btn">Регистрация</a>
        </div>
    {% else %}
        <a href="{{ url_for('index') }}" class="btn">Перейти в дневник</a>
    {% endif %}
</div>
{% endblock %}